/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define L_BASE 0
#define L_NAV 1
#define L_MOUSE 2
#define L_QWERTY 3
#define L_NUM 4
#define L_SYM 5
#define L_FUNC 6
#define L_BT 7
#define L_MEDIA 8


// colemak macros
#define A_LMETA &mt LMETA A
#define R_LALT  &mt LALT R
#define S_LCTRL &mt LCTRL S
#define T_LSHFT &mt LSHFT T
#define N_RSHFT &mt RSHFT N
#define E_RCTRL &mt RCTRL E
#define I_RALT  &mt RALT I
#define O_RMETA &mt RMETA O

// qwerty versions
// a is the same
#define S_LALT  &mt LALT S
#define D_LCTRL &mt LCTRL D
#define F_LSHFT &mt LSHFT F
#define J_RSHFT &mt RSHFT J
#define K_RCTRL &mt RCTRL K
#define L_RALT  &mt RALT L
#define SEM_LMETA &mt LMETA SEMI

#define ______ &trans

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};
&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

&mt {
    tapping-term-ms = <300>;
    quick-tap-ms = <200>;
};



/ {
    macros {
        tln_base: type_base {
            label = "Type Base";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp A &kp S &kp E>;
        };
        tln_nav: type_nav {
            label = "Type nav";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp A &kp V>;
        };
        tln_mouse: type_mouse {
            label = "Type mouse";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp O &kp U &kp S &kp E>;
        };
        tln_qwerty: type_qwerty {
            label = "Type qwerty";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Q &kp W &kp E &kp R &kp T &kp Y>;
        };
    };
};

/ {
    behaviors {
        // toggle qwerty if the K key is tapped twice
        rctl_toggle_qwerty: rctl_toggle_qwerty {
            label = "TOG_QWERTY";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =  < &kp RCTRL >, < &tog L_QWERTY >, < &tog L_BASE >;
        };

        rctl_toggle_base: rctl_toggle_base {
            label = "UNTOG_QWERTY";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =  < &kp RCTRL >, < &tog L_QWERTY >, < &tog L_BASE >;
        };

        bt_tapdance: bt_tapdance {
            label = "Switch bluetooth and clear profiles";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = < &bt BT_NXT >, < &bt BT_SEL 0 >, <&bt BT_CLR>;
        };

        double_shift: double_shift_capsword {
            label = "Double Shift Capsword";
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = < &kp LSHFT >, < &caps_word >;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
       &kp ESC        &kp N1           &kp N2           &kp N3           &kp N4          &kp N5         &kp HOME        &kp N6           &kp N7      &kp N8            &kp N9            &kp N0        &kp MINUS        &kp PSCRN
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
       &kp TAB        &kp Q            &kp W            &kp F            &kp P           &kp B          &kp PG_UP       &kp J            &kp L       &kp U             &kp Y             &kp SQT       &kp LBRC         &kp RBRC
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
       &kp CAPS       A_LMETA          R_LALT           S_LCTRL          T_LSHFT         &kp G          &kp PG_DN       &kp M            N_RSHFT     E_RCTRL           I_RALT           O_RMETA        &kp SEMI         &kp ENTER
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
     &double_shift      &kp Z        &kp X            &kp C            &kp D           &kp V          &kp END         &kp K            &kp H       &kp COMMA         &kp DOT           &kp FSLH      &kp RSHFT         &kp UP
// ├───────────────┴──────────┬────┴───────────────┴┬──────────────┴───┬───────────┴────────┬──────┴───────┬───────┴────┬──────────┴──────┬────────┴────────┬──────┴───────────────┴─────┬─────────┴───────────────┼───────────────┤
            &kp LCTRL               &kp LALT           &lt L_MEDIA ESC   &lt L_NAV SPACE   &lt L_MOUSE TAB &lt L_SYM ENTER &lt L_NUM BSPC  &lt L_FUNC DEL         &kp LALT                &rctl_toggle_qwerty      &bt_tapdance
// └──────────────────────────┴─────────────────────┴──────────────────┴────────────────────┴──────────────┴────────────┴─────────────────┴─────────────────┴────────────────────────────┴─────────────────────────┴───────────────┘
            >;
        };

        nav_layer {
                        label = "nav";
                        bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
       ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
       ______            ______      ______            ______          ______          ______          ______        &kp RC(RS(Z))    &kp LC(V)      &kp LC(C)        &kp LC(X)        &kp LC(Z)        ______         ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
       ______           &kp LMETA    &kp LALT          &kp LCTRL      &kp LSHFT          ______          ______       &kp CAPS          &kp LEFT        &kp DOWN        &kp UP         &kp RIGHT         ______         ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
       ______            ______      ______            ______          ______          ______          ______          &kp INS           &kp HOME     &kp PG_DN        &kp PG_UP         &kp END       ______          ______
// ├───────────────┴──────────┬────┴───────────────┴┬──────────────┴───┬───────────┴────────┬──────┴───────┬───────┴────┬──────────┴──────┬────────┴────────┬──────┴───────────────┴─────┬─────────┴───────────────┼───────────────┤
       ______                         ______               ______              ______            ______         ______        ______            ______                 ______                      ______                ______
// └──────────────────────────┴─────────────────────┴──────────────────┴────────────────────┴──────────────┴────────────┴─────────────────┴─────────────────┴────────────────────────────┴─────────────────────────┴───────────────┘
                    >;
        };

        mouse_layer {
                label = "mouse";
                bindings = <

// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
        ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        ______            ______      ______            ______          ______          ______          ______        &kp RC(RS(Z))    &kp LC(V)      &kp LC(C)        &kp LC(X)        &kp LC(Z)        ______         ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        ______           &kp LMETA    &kp LALT          &kp LCTRL      &kp LSHFT          ______          ______      ______           &kp KP_N4     &kp KP_N8       &kp KP_N2         &kp KP_N6         ______         ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        ______            ______      ______            ______          ______          ______          ______          ______           &kp HOME     &kp PG_DN        &kp PG_UP         &kp END       ______          ______
// ├───────────────┴──────────┬────┴───────────────┴┬──────────────┴───┬───────────┴────────┬──────┴───────┬───────┴────┬──────────┴──────┬────────┴────────┬──────┴───────────────┴─────┬─────────┴───────────────┼───────────────┤
       ______                         ______               ______              ______            ______         ______        ______            ______                 ______                      ______                ______
// └──────────────────────────┴─────────────────────┴──────────────────┴────────────────────┴──────────────┴────────────┴─────────────────┴─────────────────┴────────────────────────────┴─────────────────────────┴───────────────┘
//                                                                                      TODO: add these in when you add mouse support and the other missing stuff &rclick       &lclick
                >;
        };
        qwerty {
                label = "qwerty";
    bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
        &kp ESC        &kp N1           &kp N2           &kp N3           &kp N4          &kp N5         &kp HOME        &kp N6           &kp N7      &kp N8            &kp N9            &kp N0        &kp MINUS        &kp PSCRN
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &kp TAB        &kp Q            &kp W            &kp E            &kp R           &kp T          &kp PG_UP       &kp Y            &kp U       &kp I             &kp O             &kp P         &kp LBRC         &kp RBRC
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &kp CAPS       A_LMETA          S_LALT           D_LCTRL        F_LSHFT         &kp G          &kp PG_DN         &kp H            J_RSHFT       K_RCTRL           L_RALT         SEM_LMETA       &kp SQT        &kp ENTER
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
        &kp LSHFT      &kp Z            &kp X            &kp C            &kp V           &kp B          &kp END         &kp N            &kp M       &kp COMMA         &kp DOT           &kp FSLH      &kp RSHFT        &kp UP
// ├───────────────┴──────────┬────┴───────────────┴┬──────────────┴───┬───────────┴────────┬──────┴───────┬───────┴────┬──────────┴──────┬────────┴────────┬──────┴───────────────┴─────┬─────────┴───────────────┼───────────────┤
            &kp LCTRL               &kp LALT           &lt L_MEDIA ESC     &lt L_NAV SPACE   &lt L_MOUSE TAB &lt L_SYM ENTER &lt L_NUM BSPC  &lt L_FUNC DEL         &kp LALT                 &rctl_toggle_base     &bt_tapdance
// └──────────────────────────┴─────────────────────┴──────────────────┴────────────────────┴──────────────┴────────────┴─────────────────┴─────────────────┴────────────────────────────┴─────────────────────────┴───────────────┘
                    >;
                };
//         num_layer {
    //             label = "num";
    //             bindings = <
    // &kp LBKT     &kp N7       &kp N8       &kp N9       &kp RBKT                                              ______       ______       ______       ______       ______
    // &kp SEMI     &kp N4       &kp N5       &kp N6       &kp EQUAL                                             ______       &kp LSHFT    &kp LCTRL    &kp LALT     &kp LMETA
    // &kp GRAVE    &kp N1       &kp N2       &kp N3       &kp BSLH     ______   ______         ______   ______  ______       ______       ______       ______       ______
    //              ______       &kp DOT      &kp N0       &kp MINUS    ______                           ______  ______       ______       ______
    //             >;
//         };tt

//         symbol_layer {aattttt
    //             label = "symbol";
    //             bindings = <
    // &kp LBRC     &kp AMPS     &kp ASTRK    &kp LPAR     &kp RBRC                                                     ______       ______       ______       ______       ______
    // &kp COLON    &kp DLLR     &kp PRCNT    &kp CARET    &kp PLUS                                                     ______       &kp LSHFT    &kp LCTRL    &kp LALT     &kp LMETA
    // &kp TILDE    &kp EXCL     &kp AT       &kp HASH     &kp PIPE     ______  ______            ______   ______     ______       ______       ______       ______       ______
    //                           ______       &kp LPAR     &kp  RPAR    &kp UNDER                          ______     ______       ______       ______
    //             >;
//         };

//         function_layer {
    //             label = "function";
    //             bindings = <
    // &kp F12    &kp F7       &kp F8       &kp F9       &kp PSCRN                                           &kp F13       &kp F14     &kp F15   &kp F16  &kp F17
    // &kp F11    &kp F4       &kp F5       &kp F6       &kp SLCK                                            ______       &kp LSHFT    &kp LCTRL    &kp LALT     &kp LMETA
    // &kp F10    &kp F1       &kp F2       &kp F3       &kp PAUSE_BREAK  ______  ______            ______  ______    &kp F18       &kp F19       &kp F20       &kp F21   &kp F22
    //                         ______       &kp K_APP    &kp SPACE        &kp TAB                  ______    ______       ______       ______
    //             >;
//         };

//         bluetooth {
    //                         bindings = <
    // &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 ______                                        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 ______
    // ______       ______       ______       ______       ______                                        ______     ______    ______  ______  ______
    // ______       ______       ______       ______       ______  ______  ______        ______  ______  ______     ______    ______  ______ ______
    //                              ______       ______       ______  ______                     ______  ______     ______    ______
    //                         >;
//                 };
//         };

// |----1----------|----2----------|----3----------|----4----------|----5----------|----6----------|----7----------|----8----------|----9----------|---------10----|---------11----|---------12----|---------13----|---------14----|
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
//   ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//   ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//   ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//   ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______          ______
// ├───────────────┴──────────┬────┴───────────────┴┬──────────────┴───┬───────────┴────────┬──────┴───────┬───────┴────┬──────────┴──────┬────────┴────────┬──────┴───────────────┴─────┬─────────┴───────────────┼───────────────┤
//   ______                     ______                     ______           ______             ______             ______       ______            ______             ______                      ______                    ______
// └──────────────────────────┴─────────────────────┴──────────────────┴────────────────────┴──────────────┴────────────┴─────────────────┴─────────────────┴────────────────────────────┴─────────────────────────┴───────────────┘

};
};
